################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Graphing Calculator/.vs
/Graphing Calculator/Graph 1/.vs
